@model IEnumerable<ToDoEF.Models.Tablegroup>

@{
    ViewData["Title"] = "Index";

}

<h2>Groups</h2>

<p>
    <a asp-action="Create">Create New</a> | <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</p>
@using (Html.BeginForm("Create", "Tablegroups", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>

            }
            <tr>
                <td>
                    @Html.TextBox("Name")@Html.ViewBag.task
                </td>
                <td>
                    <input type="submit" value="Add" class="btn btn-default" />
                </td>
            </tr>
        </tbody>
    </table>
}